@import "../../styles/variables.sass"
@import "../../styles/mixins.sass"

.credits
	padding-top: 100px
	padding-bottom: 80px
	width: 100%
	@include flex(flex-start, center, 0px, 70px, column, n0-wrap)

	.headline
		@include flex(center, center, 25px, 0)
		width: 100%

		hr
			width: 40%
			height: 5px
			background: #ffffff4d
			border-radius: 30px
			border: none
			outline: none

		h2
			color: $dark
			font-size: 4rem
			font-weight: 700
			line-height: 22px
			letter-spacing: -0.408px
	.wrapper
		@include flex(center, flex-start, 250px, 20px, row, wrap)

		.item
			@include flex(center, center, 0, 30px, column, no-wrap)
			padding: 30px
			width: 280px
			height: 340px
			background: #ffffff
			border-radius: 30px


			h4
				color: $dark
				font-size: 3rem
				font-weight: 700
				line-height: 22px
				letter-spacing: -0.408px

			.halfTransparentText
				color: rgba(0, 0, 0, 0.50)
				font-size: 2rem
				font-weight: 700
				line-height: 22px
				letter-spacing: -0.408px

			button
				width: 100px
				height: 40px
				border-radius: 10px
				background: $dark
				color: $light
				font-size: 2rem
				font-weight: 700
				line-height: 22px
				letter-spacing: -0.408px
				align-self: center
