@import "../../styles/variables.sass"
@import "../../styles/mixins.sass"


.credits
	position: relative
	width: 100vw
	height: 100%
	margin-top: 40px
	padding-top: 40px
	padding-bottom: 80px
	@include flex(flex-start, center, 0, 0, column)
	background: $light

	@include container

	@media screen and (max-width: 400px)
		padding-top: 50px
		padding-bottom: 50px

	.headline
		@include flex(center, center, 25px, 0)
		width: 100vw
		padding-right: 40px
		padding-left: 40px

		hr
			width: 40%
			height: 5px
			background: $lightGrey
			border-radius: 30px
			border: none
			outline: none

		h2
			@include font(4rem, 700, $dark, 22px, -0.5px, center)

	.wrapper
		@include flex(space-between, flex-start, 30px, 20px, row)
		flex-wrap: wrap
		padding-top: 70px

		@media screen and (max-width: 1030px)
			justify-content: center

		@media screen and (max-width: 400px)
			padding-top: 40px


		.item
			@include flex(space-between, center, 0, 0, column)
			padding: 30px
			width: 280px
			height: 340px
			background: $lightGrey
			border-radius: 30px

			@media screen and (max-width: 1030px)
				width: 50%
				&:last-child
					margin-right: 20px

				&:first-child
					margin-left: 20px

			@media screen and (max-width: 600px)
				width: 240px
				height: 310px

			h4
				@include font(3rem, 700, $dark, 22px, -0.5px)

			.halfTransparentText
				@include font(2rem, 700, rgba(0, 0, 0, 0.50), 22px, -0.5px)

			button
				width: 100px
				height: 40px
				border-radius: 10px
				background: $dark
				@include font(2rem, 700, $light, 22px, -0.5px, center)

		p
			@include font(16px, 400, rgba(0, 0, 0, 0.50), 22px, -0.5px)
			margin-top: 40px

			@media screen and (max-width: 1030px)
				padding: 30px
