@import "variables.sass"
@import "mixins.sass"

html
  font-size: 10px

  @media screen and (max-width: 800px)
    font-size: 7.5px

  @media screen and (max-width: 400px)
      font-size: 6.5px

  body
    width: 100%
    overflow-x: hidden
    background: $lightGrey



