@import "../../styles/variables.sass"
@import "../../styles/mixins.sass"

@include container
.benefits
	padding-top: 50px
	padding-bottom: 100px
	@include flex(center, 20px, 20px, row)
	flex-wrap: wrap !important

	.item
		@include flex(center, center, 50px, 20px, column)
		padding: 30px
		min-width: 260px
		width: 260px
		height: 300px
		background: $light
		border-radius: 30px

		@media screen and (max-width: 1240px)
			width: 380px !important

		@media screen and (max-width: 860px)
			width: 200px !important
			height: 250px !important

		.benefitCardText
			@include font(2rem, 700, #848484, 22px, -0.5px, center)

		h2
			@include font(3rem, 700, $dark, 22px, -0.5px, center)


